.idea/

!.gitignore

wp-admin/
wp-includes/

*.log
index.php
license.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
readme.html

!wp-content/
wp-content/*

#!wp-content/plugins/
#wp-content/plugins/*

#!wp-content/plugins/plugin_name/

!wp-content/themes/
wp-content/themes/*

# Тему в репозиторий, за исключением архивов с картинками
!wp-content/themes/wp_theme/
!wp-content/themes/wp_theme/index.php